<div>
  <mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <span><a routerLink="/">Codebase</a></span>

    <span class="spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <button mat-button routerLink="/array">Array</button>
      <button mat-button routerLink="/stack">Stack</button>
      <button mat-button routerLink="/queue">Queue</button>
      <button mat-button routerLink="/linkedlist">Linkedlist</button>
      <button mat-button routerLink="/graph">Graph</button>
      <button mat-button routerLink="/trees">Trees</button>
      <button mat-button [matMenuTriggerFor]="menu">Algorithms</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/searching">Searching</button>
        <button mat-menu-item routerLink="/sorting">Sorting</button>
      </mat-menu>
      <button mat-button routerLink="/all">All Problems</button>
    </div>

  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container">

    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        <mat-list role="list">
          <a routerLink="/array"><mat-list-item role="listitem">Array</mat-list-item></a>
          <a routerLink="/stack"><mat-list-item role="listitem">Stacks</mat-list-item></a>
          <a routerLink="/queue"><mat-list-item role="listitem">Queue</mat-list-item></a>
          <a routerLink="/linkedlist"><mat-list-item role="listitem">Linkedlist</mat-list-item></a>
          <a routerLink="/graph"><mat-list-item role="listitem">Graph</mat-list-item></a>
          <a routerLink="/trees"><mat-list-item role="listitem">Trees</mat-list-item></a>
          <a routerLink="/searching"><mat-list-item role="listitem">Searching</mat-list-item></a>
          <a routerLink="/sorting"><mat-list-item role="listitem">Sorting</mat-list-item></a>
        </mat-list>

      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
