<div [class]="activeTheme ">
  <mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    
    <span><a routerLink="/">Codebase</a></span>
    
    <span class="spacer"></span>
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-button [matMenuTriggerFor]="settings"><mat-icon>settings</mat-icon></button>
      <mat-menu #settings="matMenu" color="primary">
        <button mat-menu-item [matMenuTriggerFor]="themes">Themes</button>
      </mat-menu>
      <mat-menu #themes="matMenu" color="primary">
        <button mat-menu-item *ngFor="let theme of availableThemes | keyvalue" (click)="changeTheme(theme.key)">
          {{ theme.key }}
        </button>
      </mat-menu>
    </div>
    <div fxShow="true" fxHide.lt-md="true">
      <a><button mat-button routerLink="/array">Array</button></a>
      <a><button mat-button routerLink="/stack">Stack</button></a>
      <a><button mat-button routerLink="/queue">Queue</button></a>
      <a><button mat-button routerLink="/linkedlist">Linkedlist</button></a>
      <a><button mat-button routerLink="/hash-table">Hash Table</button></a>
      <a><button mat-button routerLink="/graph">Graph</button></a>
      <a><button mat-button routerLink="/tree">Tree</button></a>
      <a><button mat-button [matMenuTriggerFor]="menu">Algorithms</button></a>
      <mat-menu #menu="matMenu" color="primary">
        <a><button mat-menu-item routerLink="/searching">Searching</button></a>
        <a><button mat-menu-item routerLink="/sorting">Sorting</button></a>
      </mat-menu>
      <a><button  mat-button routerLink="/all">All Problems</button></a>
      <a><button *ngIf="user$ | async" mat-button (click)="logout()">Logout</button></a>
      <a><button *ngIf="!(user$ | async)" mat-button routerLink="/signup">SignIn</button></a>
      <a><button mat-button [matMenuTriggerFor]="settings"><mat-icon>settings</mat-icon></button></a>
      <mat-menu #settings="matMenu" color="primary">
        <a><button mat-menu-item [matMenuTriggerFor]="themes">Themes</button></a>
        <a *ngIf="(user$ | async)"><button mat-menu-item routerLink="/user/{{ (userdata$ | async)?.username }}">My Account</button></a>
      </mat-menu>
      <mat-menu #themes="matMenu" color="primary">
        <a><button mat-menu-item *ngFor="let theme of availableThemes | keyvalue" (click)="changeTheme(theme.key)">
          {{ theme.key }}
        </button></a>
      </mat-menu>
    </div>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill>
    
    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        <mat-list role="list">
          <a routerLink="/array"><mat-list-item role="listitem">Array</mat-list-item></a>
          <a routerLink="/stack"><mat-list-item role="listitem">Stacks</mat-list-item></a>
          <a routerLink="/queue"><mat-list-item role="listitem">Queue</mat-list-item></a>
          <a routerLink="/linkedlist"><mat-list-item role="listitem">Linkedlist</mat-list-item></a>
          <a routerLink="/hash-table"><mat-list-item role="listitem">Hash Table</mat-list-item></a>
          <a routerLink="/graph"><mat-list-item role="listitem">Graph</mat-list-item></a>
          <a routerLink="/tree"><mat-list-item role="listitem">Tree</mat-list-item></a>
          <a routerLink="/searching"><mat-list-item role="listitem">Searching</mat-list-item></a>
          <a routerLink="/sorting"><mat-list-item role="listitem">Sorting</mat-list-item></a>
          <a routerLink="/all"><mat-list-item role="listitem">All Problems</mat-list-item></a>
          <a routerLink="/signup" *ngIf="!(user$ | async)"><mat-list-item role="listitem">Sign Up/Login</mat-list-item></a>
          <a routerLink="/" *ngIf="user$ | async"><mat-list-item role="listitem">Logout</mat-list-item></a>
        </mat-list>
        
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
