<div fxLayout="row wrap">
  <div fxLayout="row">
    <h1>Array</h1>
  </div>
  <div fxLayout="row">
    <p color="accent"> 
      An array data structure, or simply an array, is a data structure consisting of a collection of elements 
      (values or variables), each identified by at least one array index or key. An array is stored such that the 
      position of each element can be computed from its index tuple by a mathematical formula. The simplest type 
      of data structure is a linear array, also called one-dimensional array.
    </p>
  </div>
  <div fxLayout="row wrap" class="data">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="type_avg">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.type_avg}} </td>
      </ng-container>
      <ng-container matColumnDef="complexity_avg">
        <th mat-header-cell *matHeaderCellDef> Complexity </th>
        <td mat-cell *matCellDef="let element"> {{element.complexity_avg}} </td> 
      </ng-container>
      <ng-container matColumnDef="type_worst">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.type_worst}} </td>
      </ng-container>
      <ng-container matColumnDef="complexity_worst">
        <th mat-header-cell *matHeaderCellDef> Complexity </th>
        <td mat-cell *matCellDef="let element"> {{element.complexity_worst}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div fxLayout="row" class="full__width">
    <h4>Problems: </h4>
  </div><br/>
  <div fxLayout="row" class="list_width">
    <mat-list class="list_width">
      <ng-container *ngFor="let item of (_allProblems | async) | keyvalue ">
        <mat-list-item class="list_width" fxFlex>
          <app-topic-problems fxFlex  [item]="item"></app-topic-problems>
          <mat-divider></mat-divider>
        </mat-list-item>
      </ng-container>
    </mat-list>
  </div>
</div>