<form [formGroup]="uploadForm" (ngSubmit)="onSubmit()" class="form-container">
  <mat-form-field>
    <input matInput placeholder="Name">
  </mat-form-field>
  
  <mat-form-field>
    <input matInput placeholder="Description">
  </mat-form-field>
  
  <mat-form-field>
    <mat-select placeholder="Tags">
      <mat-option *ngFor="let tag of availableTags$ | async" [value]="tag" (click)="onTagSelected(tag)">
        {{tag}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <span *ngIf="(selectedTags$ | async)?.length > 0">
    <button class="tags" mat-raised-button color="warn" *ngFor="let tag of selectedTags$ | async">{{ tag }}</button>
  </span>
  
  <mat-form-field>
    <input matInput placeholder="Complexity">
  </mat-form-field>
  
  <mat-form-field>
    <input matInput placeholder="Difficulty">
  </mat-form-field>
  
</form>