<form [formGroup]="uploadForm" (ngSubmit)="onSubmit()" class="form-container">
  
  <div>
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name" autocomplete="off">
    </mat-form-field>
  </div>
  
  <div>
    <mat-form-field>
      <mat-select placeholder="Topic" formControlName="topic">
        <mat-option *ngFor="let topic of topics" [value]="topic">
          {{topic}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  
  <div>
    <mat-form-field>
      <textarea matInput placeholder="Description" formControlName="description" autocomplete="off"></textarea>
    </mat-form-field>
  </div>
  
  <div>
    <mat-form-field>
      <mat-select placeholder="Tags">
        <mat-option *ngFor="let tag of availableTags$ | async" [value]="tag" (click)="onTagSelected(tag)">
          {{tag}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <span *ngIf="(selectedTags$ | async)?.length > 0">
    <button class="upload__tags" mat-raised-button color="accent" *ngFor="let tag of selectedTags$ | async" (click)="onTagRemoved(tag)">
      {{ tag }}
    </button>
  </span>
  
  <div>
    <mat-form-field>
      <mat-select placeholder="Complexity" formControlName="complexity">
        <mat-option *ngFor="let complexity of allComplexities$ | async" [value]="complexity">
          {{complexity}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  
  <div class="upload__form-field">
    <input mattInput type="file" (change)="upload($event)" accept=".java" />
  </div>
  
  <div class="upload__form-field">
    <button [disabled]="submitDisabled" mat-raised-button color="primary" [disabled]="submitDisabled" value="submit">Submit</button>
  </div>
  <span *ngIf="dataUploaded">Data uploaded successfully!</span>
</form>