<div fxLayout="row wrap">
  <div fxLayout="row">
    <h1>Hash Table</h1>
  </div>
  <div fxLayout="row">
    <p>
      A hash table (hash map) is a data structure that implements an associative array abstract data type, 
      a structure that can map keys to values. A hash table uses a hash function to compute an index into an 
      array of buckets or slots, from which the desired value can be found. Ideally, the hash function will
      assign each key to a unique bucket, but most hash table designs employ an imperfect hash function, 
      which might cause hash collisions where the hash function generates the same index for more than one
      key. Such collisions must be accommodated in some way. In a well-dimensioned hash table, the average
      cost (number of instructions) for each lookup is independent of the number of elements stored in the
      table. Many hash table designs also allow arbitrary insertions and deletions of key-value pairs, 
      at (amortized ) constant average cost per operation. In many situations, hash tables turn out to 
      be on average more efficient than search trees or any other table lookup structure.
    </p>
  </div>
  <div fxLayout="row wrap" class="data">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="type_avg">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.type_avg}} </td>
      </ng-container>
      <ng-container matColumnDef="complexity_avg">
        <th mat-header-cell *matHeaderCellDef> Complexity </th>
        <td mat-cell *matCellDef="let element"> {{element.complexity_avg}} </td>
      </ng-container>
      <ng-container matColumnDef="type_worst">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.type_worst}} </td>
      </ng-container>
      <ng-container matColumnDef="complexity_worst">
        <th mat-header-cell *matHeaderCellDef> Complexity </th>
        <td mat-cell *matCellDef="let element"> {{element.complexity_worst}} </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div fxLayout="row" class="full__width">
      <h4>Problems: </h4>
    </div><br/>
    <div fxLayout="row" class="list_width">
      <mat-list class="list_width">
        <ng-container *ngFor="let item of (_allProblems | async) | keyvalue ">
          <mat-list-item class="list_width" fxFlex>
            <app-topic-problems fxFlex  [item]="item"></app-topic-problems>
            <mat-divider></mat-divider>
          </mat-list-item>
        </ng-container>
      </mat-list>
    </div>
  </div>