<div *ngIf="(userdata$ | async); else loading" fxLayout="column" fxFlexfill fxLayoutGap="64px">
  <div fxLayout="row" fxFlexFill fxLayoutAlign="center center" fxLayoutGap="32px">
    <div fxLayout="column" fxLayoutAlign="start center">
      <div>
        <h2>Hi! {{ (userdata$ | async)?.firstname }} {{ (userdata$ | async)?.lastname }} aka '{{ (userdata$ | async)?.username }}'</h2>
      </div>
      <div fxFlexFill fxLayout="column">
        <form *ngIf="!showChangePasswordForm" [formGroup]="updateProfileForm" fxFlexFill (ngSubmit)="updateProfile()" fxLayoutGap="12px"> 
          <div fxLayout="row" fxLayoutGap="32px">
            <mat-form-field fxFlex>
              <input matInput="text" placeholder="Update First name" formControlName="firstname" autocomplete="off" required>
              <mat-error *ngIf="updateProfileForm.hasError('required', ['firstname'])">Field is required</mat-error>
            </mat-form-field>
  
            <mat-form-field fxFlex>
              <input matInput="text" placeholder="Update Last name" formControlName="lastname" autocomplete="off">
            </mat-form-field>
    
          </div>
          <div fxFlex fxLayoutAlign="center center" fxLayoutGap="32px">
            <button [disabled]="!updateProfileForm.valid" mat-raised-button color="primary" value="submit">Update</button>
            <button *ngIf="!showChangePasswordForm" (click)="changeForm()" mat-raised-button color="primary">Change Password</button>
          </div>
        </form>

        <form *ngIf="showChangePasswordForm" [formGroup]="changePassowordForm" fxFlexFill (ngSubmit)="changePassoword()" fxLayoutGap="12px">
          <div fxLayout="row" fxLayoutGap="32px">
            <mat-form-field fxFlex>
              <input matInput placeholder="Password" [type]="hidePassword ? 'password' : 'text'" formControlName="password" 
              autocomplete="off" >
              <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error *ngIf="updateProfileForm.hasError('required', ['password'])">Field is required!</mat-error>
              <mat-error *ngIf="updateProfileForm.hasError('minlength', ['password'])">Atleast 8 characters required!</mat-error>
            </mat-form-field>
    
            <mat-form-field fxFlex> 
              <input matInput placeholder="Confirm password" formControlName="confirmPassword" autocomplete="off"
              [type]="hideConfirmPassword ? 'password' : 'text'" [errorStateMatcher]="matcher">
              <mat-icon matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error *ngIf="updateProfileForm.hasError('required', ['password'])">Field is required!</mat-error>
              <mat-error *ngIf="updateProfileForm.hasError('notSame')">Passwords do not match</mat-error>  
            </mat-form-field>
          </div>
          <div fxFlex fxLayoutAlign="center center" fxLayoutGap="32px">
            <button [disabled]="!changePassowordForm.valid" mat-raised-button color="primary" value="submit">Change</button>
            <button *ngIf="showChangePasswordForm" (click)="changeForm()" mat-raised-button color="primary">Update Profile</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxFlexFill fxLayoutGap="32px">
    <div fxLayout="column" fxFlex="calc(50% - 32px)" fxLayoutAlign="space-around center" fxLayoutGap="32px">
      <div fxFlex fxLayout="column" fxLayoutAlign="center center">
        <h2>You Liked the following problems</h2>
      </div>
      <div fxFlexFill fxLayout="column">
        <mat-list fxLayout="column" fxFlexFill>
          <ng-container *ngFor="let item of (likedProblems$ | async) | keyvalue ">
            <mat-list-item>
              <app-topic-problems fxFlex [item]="item"></app-topic-problems>
              <mat-divider></mat-divider>
            </mat-list-item>
          </ng-container>
        </mat-list>
      </div>
    </div>
    <div fxLayout="column" fxFlex="calc(50% - 64px)" fxLayoutAlign="space-around center" fxLayoutGap="32px">
      <div fxFlex fxLayout="column" fxLayoutAlign="center center">
        <h2>You Rated the following problems</h2>
      </div>
      <div fxFlexFill fxLayout="column">
        <mat-list fxLayout="column" fxFlexFill>
          <ng-container *ngFor="let item of (ratedProblems$ | async) | keyvalue ">
            <mat-list-item>
              <app-topic-problems fxFlex [item]="item"></app-topic-problems>
              <mat-divider></mat-divider>
            </mat-list-item>
          </ng-container>
        </mat-list>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <div fxFlexFill fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>  