<div class="row" fxLayoutAlign="space-between" fxFlex fxFlexAlign="center">
  <div fxFlex="33" fxLayoutAlign="start center">
    <p class="ellipsis" routerLink="/{{ item.key }}/{{ item.value.topic }}/{{ changeName(item.value.name) }}">
      {{ item.value.name }}
    </p>
  </div>
  <div fxFlex="33" fxLayoutGap="40px" fxLayoutAlign="center">
    <app-star-rating 
      [problem]="item"
      [rating]="(item.value.stars/item.value.raters) | number:'1.0-0'" 
      [starCount]="5" 
      [color]="starColor"
    ></app-star-rating>
  </div>
  <div fxFlex="33" fxFlexAlign="center" fxLayoutAlign="end">
    <app-like [problem]="item"></app-like>
  </div>
</div>