<div fxLayout="row wrap">
  <div fxLayout="row">
    <h1>Stack</h1>
  </div>
  <div fxLayout="row">
    <p>
      A stack is an abstract data type that serves as a collection of elements, 
      with two principal operations:<br/>
      <strong>*</strong> Push, which adds an element to the collection, and<br/>
      <strong>*</strong> Pop, which removes the most recently added element that was not yet removed.<br/>
      The order in which elements come off a stack gives rise to its alternative name, LIFO 
      (last in, first out). Additionally, a peek operation may give access to the top without modifying 
      the stack.The name "stack" for this type of structure comes from the analogy to a set of 
      physical items stacked on top of each other, which makes it easy to take an item off the top of the
      stack, while getting to an item deeper in the stack may require taking off multiple other items
      first.
    </p>
  </div>
  <div fxLayout="row wrap" class="data">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="type_avg">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.type_avg}} </td>
      </ng-container>
      <ng-container matColumnDef="complexity_avg">
        <th mat-header-cell *matHeaderCellDef> Complexity </th>
        <td mat-cell *matCellDef="let element"> {{element.complexity_avg}} </td>
      </ng-container>
      <ng-container matColumnDef="type_worst">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.type_worst}} </td>
      </ng-container>
      <ng-container matColumnDef="complexity_worst">
        <th mat-header-cell *matHeaderCellDef> Complexity </th>
        <td mat-cell *matCellDef="let element"> {{element.complexity_worst}} </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div fxLayout="row" class="full__width">
    <h4>Problems: </h4>
  </div><br/>
  <div fxLayout="row">
    <mat-list>
      <mat-list-item *ngFor="let problem of _allProblems | async">
        {{ problem }}
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
</div>