<div fxLayout="column" class="list_width">
  <div fxLayout="row wrap">
    <form class="list_width">
      <mat-form-field class="list_width">
        <input name="problem-search" [(ngModel)]="searchText" matInput placeholder="Search for problems..." (input)="filterProblems()">
      </mat-form-field>
    </form>
  </div>
  <div fxLayout="row wrap">
    <mat-list class="list_width">
      <ng-container *ngFor="let item of _filteredProblems$ | async">
        <ng-container *ngFor="let object of item | keyvalue">
          <mat-list-item class="list_width">
            <div class="row" fxLayoutAlign="space-between" fxFlex fxFlexAlign="center">
              <div fxFlex="50" fxFlexAlign="center">
                <a routerLink="/{{ object.key }}/{{ object.value.topic }}/{{ changeName(object.value.name) }}">
                  <span>{{ object.value.name }}</span>
                </a>
              </div>
              <div fxFlex="50">
                <div fxFlex="70" fxLayoutGap="40px" fxLayoutAlign="start" fxFlexAlign="center">
                    <app-star-rating 
                    [problem]="object"
                    [rating]="object.value.stars" 
                    [starCount]="5" 
                    [color]="starColor" 
                    (ratingUpdated)="onRatingChanged($event)"
                  ></app-star-rating>
                </div>
                <div fxFlex="30" fxFlexAlign="center" fxLayoutAlign="end">
                  <mat-icon>thumb_up</mat-icon>
                </div>
              </div>    
            </div>
            <mat-divider></mat-divider>
          </mat-list-item>
        </ng-container>
      </ng-container>
    </mat-list>
  </div>
</div>