.card {
  max-width: 400px;
  min-width: 300px;
  min-height: 200px;
  z-index: 10;
  padding: 1.25rem;
  opacity: 0.9;
  background: -webkit-gradient(linear, left top, right bottom, from(#375a7f), to(#00bc8c));
  background: linear-gradient(to bottom right, #375a7f, #00bc8c);
  color: #fff;
  margin: 5%;
  position: relative;
}

.card:hover{
  opacity: 1;
  transition: all .2s ease-in-out;
  transform: scale(1.05);
}

.mat-raised-button {
  width: 93%;
  bottom: 10px;
  position: absolute;
}