<div fxLayout="column" fxFlex>
  <div fxLayout="row">
    <h3>Problem: {{ (problem$ | async)?.name }}</h3>
  </div>
  <div fxLayout="row">
    <h4>{{ (problem$ | async)?.description }}</h4>
  </div>
  <div fxLayout="row">
    <h4>Complexity: {{ (problem$ | async)?.complexity }}</h4>
  </div>
  <div fxLayout="row">
    <ng-container *ngFor="let tag of (problem$ | async)?.tags">
      <span><button mat-raised-button color="accent">{{ tag }}</button></span>
    </ng-container>
  </div>
  <div fxLayout="row">
    <div fxFlex> 
      <pre *ngIf="content$ | async as content">
        <code highlight class="hljs java">
          {{ content.toString() }}
        </code>
      </pre>
    </div>
  </div>  
</div>
