<div fxLayout="column" fxLayoutGap="0px">
  <div>
    <h4>{{ (problem$ | async)?.name }}</h4>
  </div>
  <div>
    <p class="description"><ngx-md [data]="data"></ngx-md></p>
  </div>
  <div>
    <h5>Complexity: {{ (problem$ | async)?.complexity }}</h5>
  </div>
  <div>
  </div>
  <div fxLayoutGap="10px" fxLa>
    <ng-container *ngFor="let tag of (problem$ | async)?.tags"> 
      <span><button mat-raised-button color="accent">{{ tag }}</button></span>
    </ng-container>
  </div>
</div>
<mat-tab-group>
  <mat-tab *ngFor="let pro of program$ | async as program;" label="{{ pro?.language }}"> 
    <pre *ngIf="pro?.code | async as code">
      <ng-container *ngIf="pro?.language.toLowerCase() === 'java'">
        <code highlight class="hljs java">
          {{ code.toString() }}
        </code>
      </ng-container>
    </pre> 
    <pre *ngIf="pro?.code | async as code">
      <ng-container *ngIf="pro?.language.toLowerCase() === 'javascript'">
        <code highlight class="hljs js">
          {{ code.toString() }}
        </code>
      </ng-container>
    </pre> 
    <pre *ngIf="pro?.code | async as code">
      <ng-container *ngIf="pro?.language.toLowerCase() === 'typescript'">
        <code highlight class="hljs ts">
          {{ code.toString() }}
        </code>
      </ng-container>
    </pre> 
    <pre *ngIf="pro?.code | async as code">
      <ng-container *ngIf="pro?.language.toLowerCase() === 'python'">
        <code highlight class="hljs py">
          {{ code.toString() }}
        </code>
      </ng-container>
    </pre> 
  </mat-tab>
</mat-tab-group>
