<div fxLayout="row wrap">
  <div fxFlex="1 1 0" fxFlexAlign="stretch">
    <div fxFlex="1 1 0" fxFlexAlign="center" class="icons">
      <div fxFlex="1 1 0">
        <img src="https://img.icons8.com/color/96/000000/facebook.png">
      </div>
      <div fxFlex="1 1 0">
        <img src="https://img.icons8.com/color/96/000000/google-logo.png">
      </div>
      <div fxFlex="1 1 0">
        <img src="https://img.icons8.com/windows/96/000000/github.png">
      </div>
    </div>
  </div>
  <div fxFlexAlign="center" fxFlex="1 1 0">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="form">
      <div fxLayout="row">
        <mat-form-field>
          <input matInput placeholder="First name" formControlName="firstname" autocomplete="off">
        </mat-form-field>
      </div>
      
      <div>
        <mat-form-field>
          <input matInput placeholder="Last name" formControlName="lastname" autocomplete="off">
        </mat-form-field>
      </div>
      
      <div>
        <mat-form-field>
          <input matInput placeholder="Username" formControlName="username" autocomplete="off">
        </mat-form-field>
      </div>
      
      <div>
        <mat-form-field>
          <input matInput placeholder="Occupation" formControlName="occupation" autocomplete="off">
        </mat-form-field>
      </div>
      
      <div>
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email" autocomplete="off">
        </mat-form-field>
      </div>
      
      <div>
        <mat-form-field>
          <input matInput placeholder="Password" formControlName="password" autocomplete="off" type="
          password">
        </mat-form-field>
      </div>
      
      <div>
        <mat-form-field>
          <input matInput placeholder="Confirm password" formControlName="confirmPassword" autocomplete="off" type="
          password">
        </mat-form-field>
      </div>
      
      <div class="upload__form-field">
        <button [disabled]="submitDisabled" mat-raised-button color="primary" [disabled]="submitDisabled" value="submit">Submit</button>
      </div>
    </form>
  </div>
</div>