/* You can add global styles to this file, and also import other style files */
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';
@import './themes/light-theme.scss';
@import './themes/dark-theme.scss';
@import './themes/red-theme.scss';
@import './themes/card-theme.scss';

@include mat-core();  

.light-theme {
  @include angular-material-theme($my-light-theme);
  @include card-theme($my-light-theme);
}

.dark-theme {
  @include angular-material-theme($my-dark-theme);
  @include card-theme($my-dark-theme);
}

.red-theme {
  @include angular-material-theme($my-red-theme);
  @include card-theme($my-red-theme);
}

@mixin theme-color-grabber($theme) {
  // Parse the theme and create variables for each color in the pallete
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  // Create theme specfic styles
}

body, html{
  margin: 0px;
  height: 100%;
  width: 100%;
}

p, h1, h2, h3, h4, h5, h6, button, span{
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
}

a{
  text-decoration: none;
  color: white;
}

.full__width {
  margin-top: 3%;
  width: 100%;
}

.code__width {
  width: 100%;
}

.list_width{
  width: 100%;
}